 <%session[:indicator] = FALSE%>
 
 <h2>
    <a href="/business_travels/<%=session[:business_travel_id]%>">
      Finish Planning 
    </a>
 <h2>


<h4>
  <a href="/add_trip"> Add Travel Trips</a>
</h4>

<h4>
  <a href="/add_budget"> Add Travel Budget</a>
</h4>
