<div class="container h-100">
  <div class="row" >
    <div class="col my-auto">
      <h1>
Upcoming Business Travel:  
</h1>
    </div>
    <div class="col my-auto">
      <%if @upcoming_travel.present?%>
<a href="/upcoming_business_travel"> <h2><%=@upcoming_travel.description%> <h2></a>
<%else%>  
<h2>No upcoming business travels</h2>
<%end%> 
    </div>
  </div>
 
  <div class="container px-4 py-5" id="hanging-icons">
    <h4 class="pb-2 border-bottom">Manage Business Travels</h4>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h5>Add Business Travels</h5>
          <p>Plan a new Business Travel.</p>
          <a href="/add_business_travels" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h5>Previous Business Travels</h5>
          <p>Manage previous Business Travels.</p>
          <a href="/business_travels_previous" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h5>Future Business Travels</h5>
          <p>Manage future Business Travels.</p>
          <a href="/business_travels_future" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="container px-4 py-5" id="hanging-icons">
    <h4 class="pb-2 border-bottom">Chatrooms</h4>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h5>Public</h5>
          <p>Chat with everyone!</p>
          <a href="/posts/chatroom/public" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h5><%=@company%></h5>
          <p>Chat with your coworkers!</p>
          <a href="/posts/chatroom/<%=session[:company_id]%>" class="btn btn-primary">
            Check Out
          </a>
        </div>
      </div>
 
    </div>
  </div>