
<div class="jumbotron d-flex align-items-center min-vh-75"> 

<div class="container h-100">
  <div class="row" >
    <div class="col my-auto">
      <h4>
Upcoming Business Travel:  
</h4>
    </div>
    <div class="col">
      <%if @description.present?%>
<a href="/upcoming_business_travel"><%=@description%> </a>
<%else%>  
No upcoming business travels
<%end%> 
    </div>

  </div>

  <div class="row">
    <div class="col-4">
      <h4>
Manage Business Travels:  
</h4>
    </div>
    <div class="col">
       <a href="/add_business_travels"> Add Business Travels </a>
    </div>
        <div class="col">
      <a href="/business_travels_previous">Previous Business Travels</a>
    </div>
    <div class="col">
      <a href="/business_travels_future">Future Business Travels</a>
    </div>
  </div>

 <div class="row">
    <div class="col-4">
      <h4>
Chatrooms:  
</h4>
    </div>
    <div class="col">
       <a href="/posts/chatroom/public">Public</a>
    </div>
        <div class="col">
     <a href="/posts/chatroom/<%=session[:company_id]%>"><%=@company%> </a>
    </div>

  </div>
</div>
</div>