<div>
  <div>
    <h1>
      Add a new business travel
    </h1>
  </div>
</div>

<hr>

<div>
  <div>


    <form action="/insert_business_travel" method="post">
      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="travel_purpose_box">
          Travel purpose
        </label>

        <select  id="travel_purpose_box" name="query_travel_purpose">
          <option type="text" value="Conference">Conference</option>
          <option type="text" value="Business Meeting">Business Meeting</option>
          <option type="text" value="Factory Visit">Factory Visit</option>
          <option type="text"  value="Negotiations">Negotiations</option>
            <option type="text"  value="Other">Other</option>

          </select>
      </div>

      <button>
        Create business travel
      </button>
    </form>
  </div>
</div>


<hr>
