      <div>
        <a href="/manage_expenses">
          Go back
        </a>
      </div>

<div>
  <div>
    <h2>
      Add a new expense
    </h2>

    <form action="/insert_expense" method="post">

    <%session[:trip_id]=params.fetch('trip_id').to_i%>

      <div>
        <label for="expense_box">
          Expense
        </label>

        <input type="text" id="expense_box" name="query_expense">
      </div>

      <div>
        <label for="expense_type_box">
          Expense type
        </label>

                        <select  id="expense_type_box" name="query_expense_type">
          <option type="text" value="Flight">Flight</option>
          <option type="text" value="Train">Train</option>
          <option type="text" value="Taxi">Taxi</option>
          <option type="text"  value="Hotel">Hotel</option>  
          <option type="text"  value="Food">Food</option>
          <option type="text"  value="Leisure">Leisure</option>
          </select>
      </div>

      <div>
        <label for="payment_type_box">
          Payment type
        </label>

          <select  id="payment_type_box" name="query_payment_type">
          <option type="text" value="Cash">Cash</option>
          <option type="text" value="Credit Card">Credit Card</option>
           </select>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create expense
      </button>
    </form>
  </div>
</div>
